<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message details</title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/layout.css" />
    <link rel="stylesheet" href="/components.css" />
  </head>
  <body>
    <div class="board">
      <h1>Message details</h1>
      <div class="note">
        <div class="note-meta">
          <strong><%= message.user %></strong><br />
          <small>
            <%= message.added.toLocaleDateString() %> | <%=
            message.added.toLocaleTimeString() %>
          </small>
        </div>

        <div class="note-text"><%= message.text %></div>
      </div>
      <div class="actions">
        <a class="btn" href="/">Back to notes</a>
      </div>
    </div>
  </body>
  <%- include('footer') %>
</html>
